In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# import data
vine_df = pd.read_csv("vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [39]:
vine_df_20 = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [40]:
vine_df_50 = vine_df_20.loc[(vine_df_20["helpful_votes"] / vine_df_20["total_votes"]) >= 0.50]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [41]:
paid_reviews = vine_df.loc[vine_df["vine"] == "Y"]
paid_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1048,R1CBOJMJAYL75C,5.0,0.0,0.0,Y,N
1343,R37IHP001XZVR,5.0,0.0,1.0,Y,N
1393,R175KT8QHRRK2G,4.0,0.0,1.0,Y,N
1572,RNWWD2B3X0CU2,5.0,0.0,0.0,Y,N
2008,R2FDITZFABSUN8,3.0,0.0,1.0,Y,N
...,...,...,...,...,...,...
2598112,R1W951NWVSOQBZ,4.0,5.0,6.0,Y,N
2598127,R1355LD7FXH9VK,5.0,4.0,5.0,Y,N
2598146,R1D34FIDM1F1R2,2.0,4.0,5.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N
2598231,RESK20IK8JVFT,5.0,10.0,11.0,Y,N

In [42]:
unpaid_reviews = vine_df.loc[vine_df["vine"] == "N"]
unpaid_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [43]:
paid_5star_reviews = paid_reviews.loc[paid_reviews["star_rating"] == 5]["star_rating"].count()
paid_5star_reviews

4343

In [44]:
paid_reviews_count = paid_reviews["star_rating"].count()
paid_reviews_count

10215

In [45]:
percent_paid_5star = round((paid_5star_reviews / paid_reviews_count) * 100, 2)
percent_paid_5star

42.52

In [46]:
unpaid_reviews_count = unpaid_reviews["star_rating"].count()
unpaid_reviews_count

2633399

In [47]:
unpaid_5star_reviews = unpaid_reviews.loc[unpaid_reviews["star_rating"] == 5] ["star_rating"].count()
unpaid_5star_reviews

1641210

In [36]:
percent_unpaid_5star = round((unpaid_5star_reviews / unpaid_reviews_count) * 100, 2)
percent_unpaid_5star

62.32